/* .card-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
}

.card {
	width: 350px;
	margin-bottom: 2rem;
	border: 1px solid green;
} */

/* .restaurant-image {
	width: 350px;
	height: 250px;
}
.restaurant {
	margin: 1em 2em;
	overflow: hidden;
	height: 400px;
}
.restaurant .ant-card-body {
	padding: 0;
	width: 100%;
}
.restaurant.ant-card-hoverable:hover {
	border-color: #d5d5d5;
}
.restaurant-image {
	height: 248px;
	width: 350px;
}
.restaurant-image img {
	object-fit: cover;
	object-position: top;
	display: block;
	height: 100%;
	width: 100%;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
.card {
	width: 350px;
}
.card-image {
	width: 350px;
	height: 250px;
	border-radius: 10px;
}
.card-title {
	font-size: 20px;
	font-weight: 500;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
.section-1 {
	padding: 0.3rem 0.2rem 0;
}
.section-2,
.section-3,
.section-4,
.section-5 {
	padding: 0rem 0.2rem 0rem 0.2rem;
}
.rating {
	/* line-height: 21px; */

	font-size: 17px;
	font-weight: 400;
	color: #363636;
}
.reviews {
	font-size: 14px;
	font-weight: 500;
	color: #9c9c9c;
}
.category {
	padding-right: 0.4rem;
	white-space: nowrap;
	width: 350px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	font-weight: 300;
	color: #4f4f4f;
}
.section-4 {
	color: #696969;
}
.section-5 {
	color: #9c9c9c;
}
.dot {
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}

svg {
	margin-right: 0.3rem;
}
.section-1 p {
	margin-bottom: 0;
}

.section-3 p {
	margin-bottom: 0;
}

.section-4 p {
	margin-bottom: 0;
}
