span.ant-input-search {
	width: 50%;
	border: black;
}
button.ant-input-search-button {
	background: #bc3435;
	border: #bc3435;
}

button.ant-input-search-button:hover {
	background: #cf3434e7;
}
button.ant-input-search-button:focus {
	background: #cf3434e7;
}
.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 170px);
	padding: 1.5em 0em;
}
.filter-container {
	margin-top: 100px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type='radio'] {
	display: none;
	cursor: pointer;
}

.checkedContent {
	font-size: 15px;
	font-weight: 500;
	margin-right: 20px;
	position: relative;
	display: inline-block;
	background: #ffffff;
	padding: 15px 30px;
	color: #9c9c9c;
	border: 1px solid #9c9c9c;
	border-radius: 8px;
	user-select: none;
	overflow: hidden;
	transition: 0.3s;
	cursor: pointer;
}

input[type='radio']:checked ~ span {
	color: white;
	background: #e23744;
}
